AddDefaultCharset utf-8
Options -Indexes
ErrorDocument 404 //twister-roulette.com
ErrorDocument 403 //twister-roulette.com

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>

<FilesMatch ".(pl|php|cgi|spl|scgi|fcgi)$">
  Header unset Cache-Control
</FilesMatch>

RewriteEngine On

RewriteRule ^be/? index.php?lang=be [L]
RewriteRule ^cs/? index.php?lang=cs [L]
RewriteRule ^de/? index.php?lang=de [L]
RewriteRule ^en/? index.php?lang=en [L]
RewriteRule ^es/? index.php?lang=es [L]
RewriteRule ^fr/? index.php?lang=fr [L]
RewriteRule ^he/? index.php?lang=he [L]
RewriteRule ^hi/? index.php?lang=hi [L]
RewriteRule ^it/? index.php?lang=it [L]
RewriteRule ^ja/? index.php?lang=ja [L]
RewriteRule ^po/? index.php?lang=po [L]
RewriteRule ^pt/? index.php?lang=pt [L]
RewriteRule ^ru/? index.php?lang=ru [L]
RewriteRule ^uk/? index.php?lang=uk [L]
RewriteRule ^zh/? index.php?lang=zh [L]

# no www.*
RewriteCond %{HTTP_HOST} ^www.twister-roulette.com$ [NC]
RewriteRule ^(.*)$ http://twister-roulette.com/$1 [R=301,L]

# no index.*
RewriteCond %{THE_REQUEST} ^GET\ .*/index\.(php|html)\ HTTP